
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>


    <pipelines>

      <!-- Loader -->

      <initialize>
        <processor type="Website.App_Start.RouteConfig, Website"   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"/>
      </initialize>

    </pipelines>

    <model>
      <elements>
        <element interface="Sitecore.Analytics.Model.Entities.IContactAddresses, Sitecore.Analytics.Model" implementation="Sitecore.Analytics.Model.Generated.ContactAddresses, Sitecore.Analytics.Model"/>
        </elements>

      <entities>
        <contact>
          <factory type="Sitecore.Analytics.Data.ContactFactory, Sitecore.Analytics" singleInstance="true" />
          <template type="Sitecore.Analytics.Data.ContactTemplateFactory, Sitecore.Analytics" singleInstance="true" />
          <facets>
            <facet name="Personal" contract="Sitecore.Analytics.Model.Entities.IContactPersonalInfo, Sitecore.Analytics.Model" />            
          </facets>
        </contact>
      </entities>
    </model>

  </sitecore>
</configuration>

