@model DateTime

<p>Hello from the controller - today's date is @Model.ToShortDateString()</p>

@*<button type="button" onclick="location.href='@Url.Action("RandomGenerateContacts","HW")'">Generate!</button>*@

@*@Html.ActionLink("Generate", "RandomGenerateContacts", "HW", new { @class = "btn btn-info", @id = "addressSearch" })*@
