@model Website.Models.ContactGenerator

<!doctype html>
<html class="no-js" lang="en_US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact Generator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/chalk.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.js"> </script>

    <script src="~/scripts/test.js"></script>
    <script src="~/scripts/ajaxcall.js"></script>
    <script src="~/scripts/jquery.numble.min.js"></script>
    <link rel="stylesheet" href="~/scripts/styles.css">
 
</head>
<body>

    <div class="generateLine">
        Add any amount of new contacts:
        @*@Html.TextBox("generateNcontacts", "10", new { id = "numberOfContacts" })*@
        @*<input type="number" id="numberOfContacts" type="range"/>*@
        <input type="range" id="numberOfContactsSlider" value="10" name="range" min="1" max="1000"> <span id="numberOfContactsOutput"></span>
        <a id="generateNcontacts" class="button">Generate</a>
        </div>
        <br />
        <br />
        <div id="chartdiv"></div>
</body>
</html>